<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>MarkDown Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
</head>

<body>
<noscript>
    <strong> Lo sentimos, MarDown Project está hecho con vuejs por lo cual es necesario activar JavaScript para
        que trabaje de manera correcta, por favor actívelo para continuar.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>

</html>