<template>
  <v-container fluid class="down-top-padding">
    <BaseBreadcrumb
      :title="page.title"
      :icon="page.icon"
      :breadcrumbs="breadcrumbs"
    ></BaseBreadcrumb>

    <div>
      <div class="mt-4">
        <div class="px-3 border-bottom">
          <v-text-field
            placeholder="Buscar usuarios"
            class="mb-0 mt-0"
            v-model="handleSearchInput"
          ></v-text-field>
        </div>
      </div>
      <div class="mt-4">
        <v-data-table
          :headers="headers"
          :items="users"
          item-key="name"
          sort-by="email"
          class="border"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Listado de empleados:</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on"
                    >Crear Usuario</v-btn
                  >
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-form ref="form" lazy-validation>
                        <v-row>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                              v-model="editedItem.name"
                              label="Nombre"
                              :counter="10"
                              :rules="nameRules"
                              required
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                              v-model="editedItem.email"
                              :rules="emailRules"
                              label="Correo"
                              required
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="12">
                            <v-select
                              v-model="editedItem.is_staff"
                              :items="roles"
                              item-text="is_staff"
                              item-value="is_staff"
                              label="Rol"
                              required
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close"
                      >Cancel</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn class="mx-2" dark color="warning" @click="editItem(item)">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn class="mx-2" dark color="error" @click="deleteItem(item)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
          </template>
        </v-data-table>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "VerUsuarios",

  data: () => ({
    show1: false,
    valid: true,
    handleSearchInput: "",
    page: {
      title: "Usuarios",
    },
    breadcrumbs: [
      {
        text: "Gestion Usuarios",
        disabled: false,
        to: "#",
      },
      {
        text: "Usuarios",
        disabled: true,
      },
    ],

    dialog: false,
    headers: [
      {
        text: "Nº",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Usuario", value: "name" },
      { text: "Email", value: "email" },
      { text: "Rol", value: "is_staff" },
      { text: "Acciones", value: "actions", sortable: false },
    ],
    users: [],
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    passwordRules: [
      (v) => !!v || "Password es necesario",
      (v) =>
        (v && v.length <= 10) || "Password no debe ser mayor a 10 caracteres",
    ],
    roles: [{ is_staff: true }, { is_staff: false }],
    editedIndex: -1,
    editedItem: {
      name: "",
      email: "",
      is_staff: "",
    },
    defaultItem: {
      name: "",
      email: "",
      is_staff: "",
    },
  }),
  mounted() {
    if (localStorage.getItem("is_staff") === "true") {
      console.log("is admin");
    } else {
      this.$router.push({ path: "/dashboards/analytical" });
    }
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "NUEVO USUARIO" : "EDITAR USUARIO";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.$axios
        .get("/register")
        .then((resp) => {
          this.users = resp.data;
        })
        .catch((error) => console.error(error));
    },

    editItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      let config = {
        headers: {
          Authorization: `Token ${localStorage.getItem("token")}`,
        },
      };
      confirm("¿Estas seguro de eliminar este usuario?") &&
        this.$axios
          .delete(`/register/${item.id}`, config)
          .then((resp) => console.log(resp))
          .catch((error) => console.error(error));
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
      this.$refs.form.resetValidation();
    },

    save() {
      if (this.editedIndex > -1) {
        let config = {
          headers: {
            Authorization: `Token ${localStorage.getItem("token")}`,
          },
        };
        this.$axios
          .put(`/register/${this.editedItem.id}/`, this.editedItem, config)
          .then((resp) => console.log(resp))
          .catch((error) => console.error(error));
        //        Object.assign(this.users[this.editedIndex], this.editedItem);
      } else {
        this.$axios
          .post("/register/", this.editedItem)
          .then((resp) => console.log(resp))
          .catch((error) => console.error(error));
      }
      this.close();
    },
  },
};
</script>